.imagem-logo-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-banner {
    width: 20%;
}


h1.titulo-banner {
    text-align: center;
    font-size: 36px;
    margin-top: 0em;
}

h2.texto-banner {
    font-size: 16px;
    margin-top: 5em;
}




@media screen and (min-width: 900px) {
    .logo-banner[_ngcontent-ng-c2159672829] {
        width: 20%;
    }

    h1.titulo-banner {
        font-size: 60px;
    }

    .texto-banner {
        font-size: 20px !important;
        text-align: center;
        width: 60%;

    }


}