<header class="header">
    <div class="container">
        <div class="conteudo-header">
            <div class="item-header">
                <span>logo</span>
                <img src="" alt="" class="logo-header">
            </div>
            <div class="item-header">
                <ul class="lista-links-header">
                    <li class="item-link-header"><a class="link-header" href=""></a>Home</li>
                    <li class="item-link-header"><a class="link-header" href=""></a>Quem somos</li>
                    <li class="item-link-header"><a class="link-header" href=""></a>Benefícios</li>
                </ul>
            </div>
            <div class="item-header">
                <button class="bnt-associar-header">Associar-se</button>
            </div>
        </div>
      
    
    </div>

</header>
<section class="banner">
    <div class="container">
        <div class="imagem-logo-banner">
            <img src="../../../assets/img/logo.png" alt="" class="logo-banner">
        </div>
        <h1 class="titulo-banner">Para manter-se no topo, é preciso rapidez.</h1>
        <div class="carrossel">
        </div>
        <h2 class="texto-banner">
            A marketstories vem com a proposta de entregar, praticamente em tempo real, tudo aquilo que é importante no
            mercado financerio.
        </h2>
    </div>
</section>

<section class="quem-somos">
    <div class="container">
        <h1 class="titulo">Sobre nós</h1>
        <p class="texto">Com a MarketStories, nossa missão é fornecer uma plataforma que entrega, praticamente em tempo
            real, tudo aquilo que é crucial no mercado financeiro. Isso inclui notícias de última hora, dados oficiais,
            como o boletim Focus, fechamentos de mercado, atualizações sobre a taxa Selic e muito mais. Com acesso a
            essa gama de informações, você estará sempre um passo à frente de qualquer concorrente ou investidor.
            Estamos aqui para garantir que você tenha todas as ferramentas necessárias para tomar decisões informadas e
            assertivas, maximizando assim suas oportunidades de sucesso nos mercados financeiros.</p>
        <h2 class="titulo-h2">Dados fornecidos em primeira mão</h2>

        <div class="slide-quem-somos">

        </div>
    </div>
</section>

<section class="beneficios">
    <div class="container">
        <ul class="lista-beneficios">
            <li class="item-beneficios">
                <img src="../../../assets/img/beneficio1.png" alt="" class="imagem-beneficios">
            </li>
            <li class="item-beneficios">
                <img src="../../../assets/img/beneficio2.png" alt="" 
                class="imagem-beneficios">
            </li>
            <li class="item-beneficios">
                <img src="../../../assets/img/beneficio3.png" alt="" 
                class="imagem-beneficios">
            </li>
        </ul>
    </div>
</section>

<section class="precos">
    <div class="container">
        <h1 class="titulo-precos">Comece agora!</h1>
        <div class="conteudo-precos">
            <div class="caixa-imagem-precos">
                <img class="imagem-precos" src="../../../assets/img/img-precos.png" alt="">
            </div>
            <div class="escrito-precos">
                <h1 class="escrito-titulo-precos">Por apenas <span class="preco-desktop">
                    <span id="reais">R$</span> <span id="preco">200,00</span>
                </span>
                </h1>
                <p class="escrito-texto-precos">Descubra o poder dos insights exclusivos! Assine agora nosso serviço
                    premium e receba em média 250 histórias detalhadas sobre o mercado financeiro todo mês, por apenas
                    200 reais.</p>
                <button class="btn-associar">Associar-se</button>
            </div>
        </div>
    </div>
</section>

<section class="conteudos">
    <div class="container">
        <ul class="lista-conteudos">
            <li class="item-conteudos">
                <span class="caixa-imagem-conteudos">
                    <img class="imagem-conteudos" src="../../../assets/img/twiter 1 (1).png" alt="">
                </span>
                <h2 class="titulo-conteudos">Acesso direto às opiniões e análises dos especialistas do mercado
                    financeiro, diretamente do Twitter</h2>
            </li>
            <li class="item-conteudos">
                <span class="caixa-imagem-conteudos">
                  <img class="imagem-conteudos" src="../../../assets/img/twiter 1 (1).png" alt="">
                </span>
                <h2 class="titulo-conteudos">Últimas atualizações do mercado, com alertas instantâneos sobre eventos
                    críticos e movimentos rápidos do mercado financeiro.</h2>
            </li>
            <li class="item-conteudos">
                <span class="caixa-imagem-conteudos">
                  <img class="imagem-conteudos" src="../../../assets/img/twiter 1 (1).png" alt="">
                </span>
                <h2 class="titulo-conteudos">Ampla variedade de notícias e artigos relevantes, cuidadosamente
                    selecionados para mantê-lo informado e atualizado sobre todos os aspectos do mundo financeiro.</h2>
            </li>
            <li class="item-conteudos">
                <span class="caixa-imagem-conteudos">
                  <img class="imagem-conteudos" src="../../../assets/img/twiter 1 (1).png" alt="">
                </span>
                <h2 class="titulo-conteudos">Artes totalmente personalizáveis, destacando a identidade visual da sua
                    empresa.</h2>
            </li>
        </ul>
    </div>
</section>

<section class="leads">
    <div class="container">
        <div class="escrito-leads">
            <h1 class="titulo-leads">Esteja sempre a um passo à frente com a Markestorie</h1>
            <p class="texto-leads">Obtenha geração de leads consistentes como consequência de um trabalho eficiente de
                entrega de informações importantes do mercado financeiro, garantindo um trabalho eficiente de entrega de
                dados relevantes</p>
        </div>
    </div>
</section>



<section class="testemunhas">
    <div class="container">
        <h1 class="titulo">O que nossos associados estão falando</h1>
        <div class="slide-testemunhas">

        </div>
        <!-- colocar dentro do slide -->
        <div class="slide">
            <img src="../../../assets/img/testemunha.svg" alt="" class="img-testemunhas">
            <p class="texto-testemunhas">Amet minim mollit non deseru Amet minim mollit non deseru Amet minim mollit non deseru Amet minim mollit non deseru  Amet minim mollit non deseru Amet minim mollit non deseru</p>
            <div class="dados-testemunhas">
                <h3 class="nome-testemunhas">
                    Mike Taurs
                </h3>
                <p class="local-testemunhas">São Paulo, Brasil</p>
            </div>
        </div>
    </div>
</section>

<section class="card-precos">
    <div class="container">
        <h1 class="titulo-card-precos">Garanta seu lugar no topo</h1>
        <p class="texto-card-precos">Obtenha geração de leads consistentes como consequência de um trabalho eficiente de
            entrega de informações importantes do mercado financeiro, garantindo um trabalho eficiente de entrega de
            dados relevantes</p>
        <button class="btn-associar">Associar-se</button>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo-footer">
            <img class="img-logo-footer" src="" alt="">
            <p class="texto-footer">Velocidade é o que define se algo é relevante ou não no mercado.</p>
        </div>

        <div class="links-footer">
            <ul class="lista-links-footer">
                <li class="item-link-footer">
                    <a href="" class="link-footer">Home</a>
                </li>
                <li class="item-link-footer">
                    <a href="" class="link-footer">Recursos</a>
                </li>
                <li class="item-link-footer">
                    <a href="" class="link-footer">Preços</a>
                </li>
                <li class="item-link-footer">
                    <a href="" class="link-footer">Testemunahs</a>
                </li>
            </ul>
        </div>

        <div class="redes-footer">
            <ul class="lista-redes-footer">
                <li class="item-rede-footer">
                    <a href=""><img src="" alt="" class="img-rede"></a>
                </li>
                <li class="item-rede-footer">
                    <a href=""><img src="" alt="" class="img-rede"></a>
                </li>
                <li class="item-rede-footer">
                    <a href=""><img src="" alt="" class="img-rede"></a>
                </li>
                <li class="item-rede-footer">
                    <a href=""><img src="" alt="" class="img-rede"></a>
                </li>
                <li class="item-rede-footer">
                    <a href=""><img src="" alt="" class="img-rede"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>